<% content_for :title do %>About<% end %>
<!-- <h3>About the Website</h3>
<p>
	Page Body Text
</p> -->


<div class="container marketing">

	<div class="about_wrapper">
		<h1 class="about_h1">About Us</h1>
		<p class="about_pic_wrapper">
			<!-- <img class="about_pic" src="http://placehold.it/1000x150"> -->
		</p>
		<div class="about_para">
			<div class="col-md-8 about_hover wow fadeInLeft">
				<br>
				<h5>Who We Are</h5>
				<br>
				<p>GoTrackingTech is a technology company located just outside Philadelphia, PA.  Our collective expertise includes experience in over the road trucking and operations, oilfield trucking and operations, Fortune 500 supply chain/logistics, software engineering, hardware engineering, and many others.</p>
			</div>
			<!-- <br> -->
			<!-- <img src="http://placehold.it/300x300" class="col-md-2"> -->
		</div>
		<div class="about_para">
			<div class="col-md-8 about_hover wow fadeInRight">
				<br>
				<h5>What We Do</h5>
				<br>
				<p>GoTrackingTech is a trusted partner by clients across the United States.  Many companies rely on us to handle their sensitive transportation analytics and compliance tracking.  We can help you stay 100% compliant at the lowest possible cost, pinpoint operational inefficiencies, reduce risk, streamline operations, improve employee training, and stay up to date with ever-changing industry mandates and regulations.  Feel free to contact us anytime!</p>
				<br>
			</div>
		</div>
	</div>


</div>
    <script>
      // new WOW().init();
    </script>

   









   







