
<script>
     new WOW().init();
</script>

<div class="dispatch_wrapper">
  <div class="container marketing">
        <div class="jumbotron">
          <h1 class="display-3">Electronic Logbooks &nbsp;<i class="fa fa-book wow fadeInRight"></i></h1>
          <p class="lead">The ELD (Electronic Logbook Device) mandate deadline will be here before you know it.  We can help make sure you hit the ground running. </p>
          <p><a class="btn btn-lg btn-success wow fadeInLeft" href="/pricing" role="button"><i class="fa fa-usd"></i>&nbsp; Pricing</a></p>
        </div>

        <div class="row marketing">
          <div class="col-lg-6">
            <div class="feature_hover">
              <h4>Hours of Service (HOS) Tracking</h4>
              <p>Our electronic logbook system is state of the art and designed to meet all HOS mandate guidelines.</p>
            </div>

            <div class="feature_hover">
              <h4>Fuel Efficiency Tracking</h4>
              <p>Start keeping track on fuel efficiency by driver.  Make sure you are pricing your routes properly.</p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="feature_hover">
              <h4>Maximize your Efficiency</h4>
              <p>Is a certain driver eligible for a 2 hour extension today?  Can a certain driver squeeze in another delivery?  Our system does advanced calculations to maximize your fleet's production.</p>
            </div>

            <div class="feature_hover">
              <h4>Logbook Alerts</h4>
              <p>Curious when a driver will be finished their required break? Is a driver running short on hours? GoTrackingTech can provide specifics immediately.</p>
            </div>
          </div>
        </div>

        <div class="jumbotron disp_features_jumbo">
          <h1 class="display-3 dispatch_tool_features"><i class="fa fa-globe wow fadeInLeft"></i>&nbsp; GPS Technology</h1>
          <p class="lead dispatch_p_features">Access to technology and data facilitates smarter decision-making.  Smarter decision-making leads to streamlining processes and increased profits.</p>
          <p><a class="btn btn-lg btn-success dispatch_tool_features wow fadeInRight" href="/contact" role="button">Contact &nbsp;<i class="fa fa-envelope"></i></a></p>
        </div>

        <div class="row marketing">
          <div class="col-lg-6">
            <div class="feature_hover">
              <h4>GPS Technology</h4>
              <p>Track your fleet in real time on a full screen map.  We can also send your customers automated alerts upon pickup and delivery.</p>
            </div>

            <div class="feature_hover">
              <h4>Trip-by-Trip Analysis</h4>
              <p>Nail down the actual cost of specific lanes.  We help provide powerful visual evidence that helps get you that rate increase you deserve.</p>
            </div>

            <div class="feature_hover">
              <h4>Historic Route Database</h4>
              <p>Wondering why a delivery was not on time?  Wondering why certain drivers take longer than others? Our system answers these operational questions. </p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="feature_hover">
              <h4>Geofence Alerts</h4>
              <p>Is a driver passing by a regular customer that may have a pickup ready to go?  We can set up customized geofence alerts based on your specific needs.</p>
            </div>

            <div class="feature_hover">
              <h4>Motion Alerts</h4>
              <p>Did a driver oversleep while hauling an important truckload?  Is a driver pulled over?  Receive customized motion alerts that suit your needs.</p>
            </div>

            <div class="feature_hover">
              <h4>Detention Calculator</h4>
              <p>Are drivers waiting hours at certain pickups or deliveries?  We can calculate detention and provide a time-stamped GPS itinerary for you to send with the trip invoice.</p> 
            </div>
          </div>
        </div>

        <div class="jumbotron">
          <h1 class="display-3">Additional Value Added Services &nbsp;<i class="fa fa-thumbs-o-up wow fadeInRight"></i></h1>
          <p class="lead">We understand that your time is valuable.  Our value added services help maximize your back-office productivity.  It’s time to transform your business into a finely tuned machine.</p>
          <p><a class="btn btn-lg btn-success wow fadeInLeft" href="/contact" role="button">Contact &nbsp;<i class="fa fa-envelope"></i></a></p>
        </div>

        <div class="row marketing">
          <div class="col-lg-6">
            <div class="feature_hover">
              <h4>Dispatch Tool</h4>
              <p>Our proprietary dispatch tool automates the entire dispatching process.  We can find the best driver for each load and maximize your fleet’s efficiency while cutting costs.</p>
            </div>

            <div class="feature_hover">
              <h4>Automated Invoices</h4>
              <p>Business is all about cash flow.  Still sending out paper invoices or emailing each one manually?  Our proprietary invoicing system can send invoices automatically and immediately.  The sooner you send invoices to your customers, the sooner you will receive your money.</p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="feature_hover">
              <h4>IFTA Paperwork Automation</h4>
              <p>We have the capability to automate the IFTA reporting process.  No more long hours filling out detailed paperwork.</p>
            </div>

            <div class="feature_hover">
              <h4>Customized Solutions</h4>
              <p>Do you need something that isn't mentioned here?  We love fresh ideas and are constantly working on new projects and features. We are open to discussing customized solutions. </p>
            </div>
          </div>
        </div>
  </div>
</div>



