     
       
       <!-- PRICING TABLE STYLE 1-->
        <div class="container">
            <div class="row">
                <a href="/users/sign_up?plan=silver" class="pricing_link">
	                <div class="col-md-4 col-sm-6 col-xs-12 float-shadow">        
	                    <div class="price_table_container">
	                        <div class="price_table_heading">Starter</div>
	                        <div class="price_table_body">
	                            <div class="price_table_row cost warning-bg"><strong>Free!</strong></div>
	                            <div class="price_table_row">Unlimited Personal Use</div>
	                            <div class="price_table_row">Route History</div>
	                            <div class="price_table_row">Driver Logs</div>
	                            <div class="price_table_row">Pre-Trip Inspection</div>
	                            <div class="price_table_row">Maps with Real Time Traffic</div>
	                            <div class="price_table_row">Pre-Trip Inspection Checklist</div>                           
	                        </div>
	                        <a href="/users/sign_up?plan=silver" class="btn btn-warning btn-lg btn-block btn-starter">Sign Up</a>
	                    </div>
	                </div>
        		</a>

        		<a href="/users/sign_up?plan=gold" class="pricing_link">
	                <div class="col-md-4 col-sm-6 col-xs-12 float-shadow">
	                    <div class="price_table_container">
	                        <div class="price_table_heading">Basic</div>
	                        <div class="price_table_body">
	                            <div class="price_table_row cost primary-bg"><strong>$ TBD</strong><span>/Month per User</span></div>
	                            <div class="price_table_row">2 Week Free Trial</div>
	                            <div class="price_table_row">Unlimited Personal Use</div>
	                            <div class="price_table_row">Driver Logs Management</div>
	                            <div class="price_table_row">HOS Summary</div>
	                            <div class="price_table_row">Pre-Trip Inspection Tracking</div>
	                            <div class="price_table_row">Real Time Fleet Tracking</div>
	                            <div class="price_table_row">Full Time Support</div>
	                            <div class="price_table_row">Live Fleet Updates</div>
	                            <div class="price_table_row">Document Storage</div>
	                            <div class="price_table_row">Data Archived per DOT Regulations</div>
	                            <div class="price_table_row">Real Time Driver Messaging</div>
	                        </div>
	                        <a href="/users/sign_up?plan=gold" class="btn btn-primary btn-lg btn-block">Start Free Trial</a>
	                    </div>
	                </div>
                </a>
        
                <a href="/users/sign_up?plan=platinum" class="pricing_link">
	                <div class="col-md-4 col-sm-6 col-xs-12 float-shadow">
	                	<div class="recommended"><strong><span class="fa fa-thumbs-o-up fa-2x" aria-hidden="true"></span> RECOMMENDED</strong></div>
	                    <div class="price_table_container">
	                        <div class="price_table_heading">Premium</div>
	                        <div class="price_table_body">
	                            <div class="price_table_row cost success-bg"><strong>$ TBD</strong><span>/Month per User</span></div>
	                            <div class="price_table_row">2 Week Free Trial</div>                            
	                            <div class="price_table_row">DOT Compliant Truck Hardware Included</div>
	                            <div class="price_table_row">DOT Compliant Driver Log Management</div>
	                            <div class="price_table_row">50 GB Document Cloud Storage</div>
	                            <div class="price_table_row">HOS Summary for all Drivers</div>
	                            <div class="price_table_row">Real Time Fleet Tracking</div>
	                            <div class="price_table_row">Full Time Support</div>
	                            <div class="price_table_row">Live Fleet Updates</div>
	                            <div class="price_table_row">Geofence Notifications</div>
	                            <div class="price_table_row">Data Archived per DOT Regulations</div>
	                            <div class="price_table_row">Real Time Driver Messaging</div>
	                            <div class="price_table_row">No Printer Required in Truck</div>
	                            <div class="price_table_row">Measure Truck Diagnostic Info</div>
	                            <div class="price_table_row">Custom Report Generation</div>
	                            <div class="price_table_row">IFTA Paperwork Generator Service Included</div>
	                            <div class="price_table_row">Automated Invoicing</div>
	                            <div class="price_table_row"></div>
	                        </div>
	                        <a href="/users/sign_up?plan=platinum" class="btn btn-success btn-lg btn-block">Start Free Trial</a>
	                    </div>
	                </div>
                </a>
            </div>
        </div>
        <!-- PRICING TABLE STYLE 1-->
        
        <!-- SPACER-->
        <div class="spacer"></div>
        <!-- SPACER-->


