<head>
    <%= stylesheet_link_tag    'application-nondashboard', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application-nondashboard', 'data-turbolinks-track' => true %>
</head>

<h2>Testing WaterGo</h2>

